<div class='nested-fields form-group'>
  <h3>Actor</h3>
  <%= f.inputs do %>
    <%= f.input :actor_type_id, as: :select, collection: ActorType.all %>
    <%= f.input :relationship_id, as: :select, collection: Relationship.all %>
    <%= f.input :fname, :label => 'First Name' %>
    <%= f.input :lname, :label => 'Last Name' %>
    <%= f.input :gender, as: :select, collection: Gender.all  %>
    <%= f.input :yob, :label => 'Year of Birth' %>
    <%= f.input :family_status_id, as: :select, collection: FamilyStatus.all %>
    <%= f.input :social_status_id, as: :select, collection: SocialStatus.all %>
    <%= f.input :employment_status_id, as: :select, collection: EmploymentStatus.all %>
    <%= f.input :education_status_id, as: :select, collection: EducationStatus.all %>
    <%= f.input :children, :label => 'Number of Children' %>
    <%= f.input :crim_bg_id, as: :select, collection: CrimBg.all %>
    <%= f.input :under_influence, as: :select, collection: UnderInfluence.all %>
    <%= f.input :gun_perm_id, as: :select, collection: GunPerm.all %>
    <%= f.input :substance_id, as: :select, collection: Substance.all %>

    <%= link_to_remove_association "Remove Actor", f, :class => 'btn btn-warning' %>
  <% end %>
</div>
