<%= semantic_form_for([:admin, @report]) do |f| %>
	<%= f.error_messages %>

  <%= f.inputs do %>
	  <%= f.input :official_case_number %>
    <%= f.input :crime_date %>
    <%= f.input :crime_time %>
    <%= f.input :location_address %>
    <%= f.input :location_lat %>
    <%= f.input :location_lon %>
    <%= f.input :location_category %>
    <%= f.input :location_lat %>
    <%= f.input :emergency_arrival_time %>
    <%= f.input :police_arrival_time %>
		<%= f.input :relationship_id, as: :select, collection: Relationship.all %>
		<%= f.input :weapon_id, as: :select, collection: Weapon.all %>
		<%= f.input :motive_id, as: :select, collection: Motive.all %>
		<%= f.input :status_id, as: :select, collection: Status.all %>
  <% end %>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit t('helpers.links.reset'), :class => 'btn btn-warning', :type => :reset, :name => :reset %>
	  <%= link_to t('helpers.links.cancel'), admin_reports_path, :class => 'btn btn-mini btn-warning' %>
  </div>
<% end %>
