<%- model_class = Report -%>
<% title t('.title', :default => model_class.model_name.human.pluralize.titleize) %>

<table id="reports" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:crime_date) %></th>
      <th><%= model_class.human_attribute_name(:official_case_number) %></th>
      <th><%= 'District' %></th>
      <th><%= 'Victim\'s Name' %></th>
      <th><%= 'Relationship' %></th>
      <th><%= 'Motive' %></th>
      <th><%= 'Weapon' %></th>

    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to 'View', report_path(report), class: 'btn btn-default' %></td>
        <td><%= I18n.l report.crime_date if report.crime_date.present? %>
        <td><%= link_to report.official_case_number , admin_report_path(report) %></td>
        <td><%= report.district.name if report.district_id %></td>
        <td><%= first_victim_name(report) %></td>
        <td><%= first_victim_relationship(report) %></td>
        <td><%= report.motive.name if report.motive_id %></td>
        <td><%= report.weapon.name if report.weapon_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
